<%= form_with(model: desinger) do |form| %>
  <% if desinger.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(desinger.errors.count, "error") %> prohibited this desinger from being saved:</h2>

      <ul>
        <% desinger.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :passwort, style: "display: block" %>
    <%= form.text_field :passwort %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
