<p style="color: green"><%= notice %></p>

<%= render @desinger %>

<div>
  <%= link_to "Edit this desinger", edit_desinger_path(@desinger), class: "btn btn-outline-primary"%> |
  <%= link_to "Back to desingers", desingers_path, class: "btn btn-outline-primary"%>

  <%= button_to "Destroy this desinger", @desinger, method: :delete, class: "btn btn-outline-danger"%>
</div>
