<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <%= form.label :titel, style: "display: block" %>
  <%= form.text_field :titel %>
  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
    <div>
    <%= form.label :fotourl, style: "display: block" %>
    <%= form.text_field :fotourl %>
    <div>
    <%= form.label :desinger_id, style: "display: block" %>
    <%= form.select :desinger_id, Desinger.all.order(name: :asc).collect {|d| [d.name, d.id] }, include_blank: false %>
  </div>
    

  <div>
    <%= form.submit %>
  </div>
<% end %>
